In [53]:
import matplotlib.pyplot as plt
import pandas as pd

In [94]:
data = pd.DataFrame.from_csv('time_intervals.csv')

In [95]:
data['interval'] = data.index
data.index = range(data.shape[0])
data[:5]

   ip  userId  fingerPrint  interval
0   0       0            0         9
1   0       0            0       113
2   0       0            0       360
3   0       0            0         7
4   0       0            0        72

[5 rows x 4 columns]

In [98]:
data['min'] = data['interval'].apply(lambda x: float(x)/60)
#print data.shape
#data = data.drop_duplicates()
#print data.shape

In [132]:
true = data[data['ip'] == 1]
#true = true[true['userId'] == 1]
#true = true[true['fingerPrint'] == 1]
print true.shape

true = true.sort(['min'])
true['min'] = true['min'].apply(lambda x: int(x))
new = true.groupby(['min']).size().reset_index(name='Size')
plt.plot(new['min'], new['Size'], 'ro')
#plt.plot(new['Size'], new['min'], 'r-')
plt.show()

(74854, 5)

In [89]:
data = data.sort(['min'])
data['min'] = data['min'].apply(lambda x: int(x))
new = data.groupby(['min']).size().reset_index(name='Size')
plt.plot(new['min'], new['Size'], 'ro')
plt.show()

In [85]:
ip = pd.concat([data['min'], data['userId']], axis=1)
ip.shape
#ip = ip.drop_duplicates()
print ip.shape

(1037703, 2)

In [86]:
ip_0 = ip[ip['userId']==0]
ip_1 = ip[ip['userId']==1]

In [87]:
ip_1 = ip_1.sort(['min'])
ip_1['min'] = ip_1['min'].apply(lambda x: int(x))
new = ip_1.groupby(['min']).size().reset_index(name='Size')
plt.plot(new['min'], new['Size'], 'ro')
plt.show()

In [88]:
ip_0 = ip_0.sort(['min'])
ip_0['min'] = ip_0['min'].apply(lambda x: int(x))
new = ip_0.groupby(['min']).size().reset_index(name='Size')
#new = n[n['Size']<10000]
plt.plot(new['min'], new['Size'], 'ro')
plt.show()

In [120]:
c = new[new['min']<5]
d = new[new['min']>=5]
print c['Size'].sum()
print d['Size'].sum()

24143
50711

In [131]:
g =new.sort(['Size'], ascending=False)
g = list(g['Size'])
g = [int(x) for x in g]
print new.shape

(1440, 3)

In [130]:
res = [0]
for i in range(1,len(g)):
    before = sum(g[:i]) 
    after = sum(g[i:]) 
    res.append(after-before)
new['diff'] = res
new
#new.sort(['Size'], ascending=False)

    min   Size   diff
0     0  20480      0
1     1   1440  33894
2     2    911  31014
3     3    771  29192
4     4    541  27650
5     5    483  26568
6     6    483  25602
7     7    438  24636
8     8    402  23760
9     9    370  22956
10   10    311  22216
11   11    318  21580
12   12    243  20958
13   13    235  20454
14   14    252  19968
15   15    217  19498
16   16    230  19038
17   17    187  18604
18   18    197  18210
19   19    171  17836
20   20    173  17472
21   21    168  17126
22   22    182  16784
23   23    167  16448
24   24    164  16114
25   25    135  15786
26   26    121  15470
27   27    117  15192
28   28    120  14918
29   29    129  14648
30   30    110  14378
31   31    127  14118
32   32    139  13860
33   33    130  13606
34   34    106  13364
35   35    137  13124
36   36    107  12890
37   37    135  12666
38   38     91  12446
39   39     77  12226
40   40    100  12012
41   41    110  11800
42   42    101  11588
43   43     81  11386
44   44     90  11184
45   45    106  10984
46   46    112  10784
47   47     98  10588
48   48     76  10396
49   49    100  10210
50   50     85  10024
51   51     96   9842
52   52     83   9662
53   53     80   9486
54   54     93   9314
55   55     85   9144
56   56    101   8974
57   57     83   8806
58   58     75   8638
59   59     81   8470
    ...    ...    ...

[1440 rows x 3 columns]